#facebook{
    background-color: rgb(49, 49, 136);
    color: white;
    border-radius: 20%;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#google{
    background-color: rgb(210, 51, 51);
    color: white;
    border-radius: 20%;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#login{
    height: 20px;
    width: 160px;
    background-color: rgb(94, 126, 255);
    color: white;
    border-radius: 20%;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
